<a href="https://colab.research.google.com/github/asaadkhan21/Machine-Learning-Lab/blob/main/ListinPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(0,1):
  print("Introduction to the Lists")

Introduction to the Lists

In [2]:
#python program to swap first and last element of the list
LIST=[12,32,42,44,52]
temp=LIST[0]
LIST[0]=LIST[-1]
LIST[-1]=temp
LIST

[52, 32, 42, 44, 12]

In [3]:
#python program to add new elements in the list and printing the list and lenght of the list
list_second=[ ]
for i in range(1,10):
  list_second.append(i)
  i=i+1
print(list_second)
counter=0
for j in list_second:
  counter=counter+1
print(counter)
#printing the length of list using length function
print(len(list_second))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
9

In [4]:
#checking a elment exit or not in a list
a=[34,5,6,7,32,34,12,35]
i=5
if i in a:
  print("The element exits")
else:
  print("The elemet doesn't exit")

The element exits

In [5]:
#clearing the elements in the list
b=[12,31,42,423,45]
print(b)
#deleting the specific element
del(b[3])
print(b)
#removing all the elements using clear function
b.clear()
print(b)
#again adding elements
for i in range(2,5):
  b.append(i)
print(b)
#revering the list using the reverse function
b.reverse()
print(b)
#again deleting all the element using del function
del b[:]
print(b)

[12, 31, 42, 423, 45]
[12, 31, 42, 45]
[]
[2, 3, 4]
[4, 3, 2]
[]

In [6]:
#program to find sum of the element in the list
c=[ ]
for i in range(1,11):
  c.append(i)
print(c)
total=0
for j in c:
  total=total+j
print(total)
#using sum function
print(sum(c))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55
55

In [7]:
#program to multiply the elemets in the list
f=[1,2,3,4,5]
mul=1
for i in f:
  mul=mul*i
print(mul)
#using numpy
import numpy as np
mul_np=np.prod(f)
print(mul_np)

120
120

In [8]:
#smallest elements in the list
g=[2,10,24,53,234,1,23]
mini=g[0]
for i in g:
  if(mini>i):
    mini=i
print(mini)
#using sort function
g.sort()
print(g[0])

1
1

In [9]:
#finding largest number in the list
k=[12,12,42,53,4,23,3]
maxi=k[0]
for m in k:
  if(maxi<=m):
    maxi=m
print(maxi)
print(max(k))
k.sort()
print(k[-1])

53
53
53

In [10]:
#printing even elements in the list
t=[22,23,44,13,43,53,66]
for i in t:
  if(i%2==0):
    print(i,end=' ')

22 44 66

In [11]:
#printing the number of elements in a range
start=7
end=16
for i in range(start,end+1):
  if(i%2==0):
    print(i,end=' ')

8 10 12 14 16

In [12]:
#printing positive and negative elements in the list
u=[-3,4,2,-5,-8,9,34,-44]
n=[]
k=[]
for i in u:
  if(i>=0):
    n.append(i)
  else:
    k.append(i)
print(n)
print(k)

[4, 2, 9, 34]
[-3, -5, -8, -44]

In [13]:
#removing the unwanted and specific elements in the list using different functions
s=[12,23,43,53,33,4,3,6,8,9]
del s[2:6]
print("The new list is:")
print(s)

The new list is:
[12, 23, 3, 6, 8, 9]

In [14]:
#removing empty list in the list
p=[2,3,4,[],5,[],4]
j=[]
for i in p:
  if(i!=[]):
    j.append(i)
print(p)
print(j)

[2, 3, 4, [], 5, [], 4]
[2, 3, 4, 5, 4]

In [15]:
#counting the occurence of an element in a list
h=[11,11,23,44,232,42,11,11]
x=11
count=0
for i in h:
  if(i==x):
    count=count+1
print(count)

4

In [16]:
#sum of number digits in a list
v=[12,13,44,23]
result=[]
for i in v:
  sum=0
  for j in str(i):
    sum=sum+int(j)
  result.append(sum)
print(v)
print(result)

[12, 13, 44, 23]
[3, 4, 8, 5]